*{
    margin: 0;
    padding: 0;
    font-family: Century ;
    
}

body {
    background-image: url(AppImages/bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#main8 {
    background-image: url(AppImages/purchase.png);
    min-height: 600px;
    min-width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav ul{
    float: right;
    margin-top: 25px;
    margin: right;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    transition: 0.8s all;
}

nav ul li a{
     text-decoration: none;
     color: #fff;
     padding: 5px 10px;
     border: 1px solid white transparent;
     font-weight: bold;
}

nav ul li a:hover{
     background-color:#fff;
     color: #000;
}

nav ul li.active a{
     background-color: #fff;
     color: #000;
}

.logo img{
    float: left;
    width: 90px;
    height: auto;
    padding: 5px;
}
@media only screen and (max-device-width: 1200px){

    nav ul{
        float: center;
        margin-top: 25px;
        margin: right;
        width: 100%;
    }
        
    nav ul li{
        text-align: right;
        display: inline-block;
        list-style-type: none;
        transition: 0.8s all;
        width: 100%;
        padding: 10px;
    }
        
    nav ul li a{
        text-decoration: none;
        color: #fff;
        padding: 5px 20px;
        border: 1px solid white transparent;
        font-weight: bold;
        width: 100%;
    }
}

section{
    padding: 4rem 0 3rem;
}

#icon{
    font-size: 1.8rem ;
    cursor: pointer;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1.5rem;
}

.shop{
    margin-top: 2rem;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
    
.product-box {
    padding: 2rem;
    background: #fff;
    box-shadow: 0.5rem 1rem;
    border: .1rem solid;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
}

.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
}

.product-img {
    width: 100%;
    height: 300px;
    margin-bottom: 0.5rem;
    object-fit: cover;
    transition: 0.2s ease;
}

.product-img:hover{
    transform: scale(1.04);
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.product-box button {
    padding: 5px 30px;
    border:  none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}

.product-box button:hover{
    transform: scale(1.08);
}

@media screen and (max-width:1000px) {
    .shop-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    .shop-content{
        grid-template-columns: repeat(1, 1fr);
    }
}

.wrapper{
    width: 90%;
    padding: 30px;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    

}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#d1{
    padding: 20px;
}
.inputBox{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
    margin-left: 5px;
}

.inputBox label{
    display: block;
    margin-bottom: 5px;
    font-weight: 800;
}

.inputBox input{
   width: 80%;
   height: 45px;
   border: 3px solid #ccc;
   padding: 5px 5px;
   text-transform: none;
   font-size: 15px;
   outline: none;
   border-radius: 5px;
}

.inputBox input:focus{
    border: 1px solid #000;
}

.flexbox{
    display: flex;
    gap:15px;
    font-weight: 800;
}


.flexbox .inputBox{
    flex:1 1 150px;
}

.inputBox span{
    width:50%;
    height: 1px;
}

.Submit-btn{
    width: 25%;
    padding: 10px;
    font-size: 17px;
    background-color: lightpink;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: .2s linear;
    border-radius: 5px;
}

.Submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

@media only screen and (max-device-width: 1200px){
    .Submit-btn{
        width: 100px;
        padding: 10px;
    }
}

.footer{
    padding: 40px 0;
    background-color: grey;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}